APP_NAME="Reflection Diary"
APP_ENV=production
APP_DEBUG=false
APP_URL=https://diary.darkovski.dev
APP_KEY=
FRONTEND_URL=https://diary.darkovski.dev
LOG_CHANNEL=stderr
LOG_LEVEL=warning
DB_CONNECTION=mysql
DB_HOST=rddb.darkovski.dev
DB_PORT=3306
DB_DATABASE=reflection_diary_demo
DB_USERNAME=diary_demo_app
DB_PASSWORD=
DB_COLLATION=utf8mb4_0900_ai_ci
MYSQL_ATTR_SSL_CA=../db/letsencrypt-roots.pem
CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
